<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <title>Index Page</title>
</head>

<body>

<header th:replace="layout :: site-header" />
<main>
    <div class="parallax-container">
        <div class="parallax"><img src="../static/img/parallax1.jpg" th:src="@{/img/parallax1.jpg}" /></div>
    </div>
    <div class="section white">
        <div class="row">
            <p>About Stuf in here</p>
        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="../static/img/parallax2.jpg" th:src="@{/img/parallax2.jpg}" /></div>
    </div>
    <div class="section white">
        <div class="row">
            <p>CV Stuff</p>
        </div>
    </div>
</main>
<footer th:replace="layout :: site-footer" />
</body>
</html> 